<div mat-dialog-title class="newspace">
    <!-- <h1>Employee Form</h1> -->
</div>
<form >
    <div mat-dialog-content class="content">
        <div class="row space">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput type="text" placeholder="Ex. Technical" >
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. Babaji" >
            </mat-form-field>
        </div>

        <div class="row space">
            <mat-form-field appearance="outline">
                <mat-label>Email Id</mat-label>
                <input matInput type="text" placeholder="pmeher001@gmail.com" >
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="6765175433" >
            </mat-form-field>
        </div>

        <div class="row space">
            <mat-form-field appearance="outline">
                <mat-label>Education</mat-label>
                <input matInput type="text" placeholder="MCA" >
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <input matInput placeholder="Ex. Babaji" >
            </mat-form-field>
        </div>

        <div class="row space">
            <mat-form-field appearance="outline" >
                <mat-label>Address</mat-label>
                <input matInput type="text" placeholder="Address" >
            </mat-form-field>
          
            <div class="my-class">
                <mat-form-field appearance="outline" class="custom_datepicker">
                    <!-- <mat-label>Choose a date</mat-label> -->
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div> 
        </div>

        <div class="row space" style=" margin-left: 8%;">
            <button type="submit" mat-raised-button color="primary">submit</button>
            <button type="button" mat-raised-button color="White" (click)="resetDetails()">Reset</button>
            </div>
    </div>
</form>