<mat-toolbar color="primary">
    <button mat-raised-button class="spaced-button" routerLink="create" color="green">Create</button>
    <button mat-raised-button  class="spaced-button" routerLink="addEmpl">Add Employee</button>
    <button mat-raised-button class="spaced-button" >Update</button>
    <button mat-raised-button  class="spaced-button" routerLink="home">Home</button>
    <button mat-raised-button class="spaced-button" color="primary">About</button>
    <h1 class="my-width">Employee Details</h1> 
  </mat-toolbar>